<ol class="post-list">
  <!--#each is used to being the loop and /each to end the loop*/ -->
  {{#each posts as |post| }}
  <li>
    <!-- the > followed by the name of the partial file and the object we'll pass to the partial   -->
    {{> post-info post }}
  </li>
  {{/each}}
</ol>